@model IEnumerable<ELearningUI.Models.Lecturer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gfname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gfname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment.EnrollmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Program.ProgramId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LecturerId" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LecturerId" class=" btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LecturerId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
